<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.njust.mapper.TrainInfoMapper">
  <resultMap id="BaseResultMap" type="com.mmall.QixiPojo.TrainInfo">
    <constructor>
      <idArg column="train_id" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="train_station" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="train_number" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="control_num" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="train_direction" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="train_state" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="train_date" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="insert_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    train_id, train_station, train_number, control_num, train_direction, train_state, 
    train_date, insert_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from train_info
    where train_id = #{trainId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from train_info
    where train_id = #{trainId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.mmall.QixiPojo.TrainInfo">
    insert into train_info (train_id, train_station, train_number, 
      control_num, train_direction, train_state, 
      train_date, insert_time)
    values (#{trainId,jdbcType=BIGINT}, #{trainStation,jdbcType=VARCHAR}, #{trainNumber,jdbcType=VARCHAR}, 
      #{controlNum,jdbcType=VARCHAR}, #{trainDirection,jdbcType=INTEGER}, #{trainState,jdbcType=INTEGER}, 
      #{trainDate,jdbcType=TIMESTAMP}, #{insertTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.mmall.QixiPojo.TrainInfo">
    insert into train_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="trainId != null">
        train_id,
      </if>
      <if test="trainStation != null">
        train_station,
      </if>
      <if test="trainNumber != null">
        train_number,
      </if>
      <if test="controlNum != null">
        control_num,
      </if>
      <if test="trainDirection != null">
        train_direction,
      </if>
      <if test="trainState != null">
        train_state,
      </if>
      <if test="trainDate != null">
        train_date,
      </if>
      <if test="insertTime != null">
        insert_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="trainId != null">
        #{trainId,jdbcType=BIGINT},
      </if>
      <if test="trainStation != null">
        #{trainStation,jdbcType=VARCHAR},
      </if>
      <if test="trainNumber != null">
        #{trainNumber,jdbcType=VARCHAR},
      </if>
      <if test="controlNum != null">
        #{controlNum,jdbcType=VARCHAR},
      </if>
      <if test="trainDirection != null">
        #{trainDirection,jdbcType=INTEGER},
      </if>
      <if test="trainState != null">
        #{trainState,jdbcType=INTEGER},
      </if>
      <if test="trainDate != null">
        #{trainDate,jdbcType=TIMESTAMP},
      </if>
      <if test="insertTime != null">
        #{insertTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mmall.QixiPojo.TrainInfo">
    update train_info
    <set>
      <if test="trainStation != null">
        train_station = #{trainStation,jdbcType=VARCHAR},
      </if>
      <if test="trainNumber != null">
        train_number = #{trainNumber,jdbcType=VARCHAR},
      </if>
      <if test="controlNum != null">
        control_num = #{controlNum,jdbcType=VARCHAR},
      </if>
      <if test="trainDirection != null">
        train_direction = #{trainDirection,jdbcType=INTEGER},
      </if>
      <if test="trainState != null">
        train_state = #{trainState,jdbcType=INTEGER},
      </if>
      <if test="trainDate != null">
        train_date = #{trainDate,jdbcType=TIMESTAMP},
      </if>
      <if test="insertTime != null">
        insert_time = #{insertTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where train_id = #{trainId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mmall.QixiPojo.TrainInfo">
    update train_info
    set train_station = #{trainStation,jdbcType=VARCHAR},
      train_number = #{trainNumber,jdbcType=VARCHAR},
      control_num = #{controlNum,jdbcType=VARCHAR},
      train_direction = #{trainDirection,jdbcType=INTEGER},
      train_state = #{trainState,jdbcType=INTEGER},
      train_date = #{trainDate,jdbcType=TIMESTAMP},
      insert_time = #{insertTime,jdbcType=TIMESTAMP}
    where train_id = #{trainId,jdbcType=BIGINT}
  </update>
  <resultMap id="BaseResultMap" type="com.mmall.QixiPojo.TrainInfo">
    <constructor>
      <idArg column="train_id" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="train_station" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="train_number" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="control_num" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="train_direction" javaType="java.lang.Byte" jdbcType="TINYINT" />
      <arg column="train_state" javaType="java.lang.Byte" jdbcType="TINYINT" />
      <arg column="train_date" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="insert_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    train_id, train_station, train_number, control_num, train_direction, train_state, 
    train_date, insert_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from train_info
    where train_id = #{trainId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from train_info
    where train_id = #{trainId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.mmall.QixiPojo.TrainInfo">
    insert into train_info (train_id, train_station, train_number, 
      control_num, train_direction, train_state, 
      train_date, insert_time)
    values (#{trainId,jdbcType=BIGINT}, #{trainStation,jdbcType=VARCHAR}, #{trainNumber,jdbcType=VARCHAR}, 
      #{controlNum,jdbcType=VARCHAR}, #{trainDirection,jdbcType=TINYINT}, #{trainState,jdbcType=TINYINT}, 
      #{trainDate,jdbcType=TIMESTAMP}, #{insertTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.mmall.QixiPojo.TrainInfo">
    insert into train_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="trainId != null">
        train_id,
      </if>
      <if test="trainStation != null">
        train_station,
      </if>
      <if test="trainNumber != null">
        train_number,
      </if>
      <if test="controlNum != null">
        control_num,
      </if>
      <if test="trainDirection != null">
        train_direction,
      </if>
      <if test="trainState != null">
        train_state,
      </if>
      <if test="trainDate != null">
        train_date,
      </if>
      <if test="insertTime != null">
        insert_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="trainId != null">
        #{trainId,jdbcType=BIGINT},
      </if>
      <if test="trainStation != null">
        #{trainStation,jdbcType=VARCHAR},
      </if>
      <if test="trainNumber != null">
        #{trainNumber,jdbcType=VARCHAR},
      </if>
      <if test="controlNum != null">
        #{controlNum,jdbcType=VARCHAR},
      </if>
      <if test="trainDirection != null">
        #{trainDirection,jdbcType=TINYINT},
      </if>
      <if test="trainState != null">
        #{trainState,jdbcType=TINYINT},
      </if>
      <if test="trainDate != null">
        #{trainDate,jdbcType=TIMESTAMP},
      </if>
      <if test="insertTime != null">
        #{insertTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mmall.QixiPojo.TrainInfo">
    update train_info
    <set>
      <if test="trainStation != null">
        train_station = #{trainStation,jdbcType=VARCHAR},
      </if>
      <if test="trainNumber != null">
        train_number = #{trainNumber,jdbcType=VARCHAR},
      </if>
      <if test="controlNum != null">
        control_num = #{controlNum,jdbcType=VARCHAR},
      </if>
      <if test="trainDirection != null">
        train_direction = #{trainDirection,jdbcType=TINYINT},
      </if>
      <if test="trainState != null">
        train_state = #{trainState,jdbcType=TINYINT},
      </if>
      <if test="trainDate != null">
        train_date = #{trainDate,jdbcType=TIMESTAMP},
      </if>
      <if test="insertTime != null">
        insert_time = #{insertTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where train_id = #{trainId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mmall.QixiPojo.TrainInfo">
    update train_info
    set train_station = #{trainStation,jdbcType=VARCHAR},
      train_number = #{trainNumber,jdbcType=VARCHAR},
      control_num = #{controlNum,jdbcType=VARCHAR},
      train_direction = #{trainDirection,jdbcType=TINYINT},
      train_state = #{trainState,jdbcType=TINYINT},
      train_date = #{trainDate,jdbcType=TIMESTAMP},
      insert_time = #{insertTime,jdbcType=TIMESTAMP}
    where train_id = #{trainId,jdbcType=BIGINT}
  </update>
  <resultMap id="BaseResultMap" type="com.mmall.QixiPojo.TrainInfo">
    <constructor>
      <idArg column="train_id" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="train_station" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="train_number" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="control_num" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="train_direction" javaType="java.lang.Byte" jdbcType="TINYINT" />
      <arg column="train_state" javaType="java.lang.Byte" jdbcType="TINYINT" />
      <arg column="train_date" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="insert_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    train_id, train_station, train_number, control_num, train_direction, train_state, 
    train_date, insert_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from train_info
    where train_id = #{trainId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from train_info
    where train_id = #{trainId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.mmall.QixiPojo.TrainInfo">
    insert into train_info (train_id, train_station, train_number, 
      control_num, train_direction, train_state, 
      train_date, insert_time)
    values (#{trainId,jdbcType=BIGINT}, #{trainStation,jdbcType=VARCHAR}, #{trainNumber,jdbcType=VARCHAR}, 
      #{controlNum,jdbcType=VARCHAR}, #{trainDirection,jdbcType=TINYINT}, #{trainState,jdbcType=TINYINT}, 
      #{trainDate,jdbcType=TIMESTAMP}, #{insertTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.mmall.QixiPojo.TrainInfo">
    insert into train_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="trainId != null">
        train_id,
      </if>
      <if test="trainStation != null">
        train_station,
      </if>
      <if test="trainNumber != null">
        train_number,
      </if>
      <if test="controlNum != null">
        control_num,
      </if>
      <if test="trainDirection != null">
        train_direction,
      </if>
      <if test="trainState != null">
        train_state,
      </if>
      <if test="trainDate != null">
        train_date,
      </if>
      <if test="insertTime != null">
        insert_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="trainId != null">
        #{trainId,jdbcType=BIGINT},
      </if>
      <if test="trainStation != null">
        #{trainStation,jdbcType=VARCHAR},
      </if>
      <if test="trainNumber != null">
        #{trainNumber,jdbcType=VARCHAR},
      </if>
      <if test="controlNum != null">
        #{controlNum,jdbcType=VARCHAR},
      </if>
      <if test="trainDirection != null">
        #{trainDirection,jdbcType=TINYINT},
      </if>
      <if test="trainState != null">
        #{trainState,jdbcType=TINYINT},
      </if>
      <if test="trainDate != null">
        #{trainDate,jdbcType=TIMESTAMP},
      </if>
      <if test="insertTime != null">
        #{insertTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mmall.QixiPojo.TrainInfo">
    update train_info
    <set>
      <if test="trainStation != null">
        train_station = #{trainStation,jdbcType=VARCHAR},
      </if>
      <if test="trainNumber != null">
        train_number = #{trainNumber,jdbcType=VARCHAR},
      </if>
      <if test="controlNum != null">
        control_num = #{controlNum,jdbcType=VARCHAR},
      </if>
      <if test="trainDirection != null">
        train_direction = #{trainDirection,jdbcType=TINYINT},
      </if>
      <if test="trainState != null">
        train_state = #{trainState,jdbcType=TINYINT},
      </if>
      <if test="trainDate != null">
        train_date = #{trainDate,jdbcType=TIMESTAMP},
      </if>
      <if test="insertTime != null">
        insert_time = #{insertTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where train_id = #{trainId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mmall.QixiPojo.TrainInfo">
    update train_info
    set train_station = #{trainStation,jdbcType=VARCHAR},
      train_number = #{trainNumber,jdbcType=VARCHAR},
      control_num = #{controlNum,jdbcType=VARCHAR},
      train_direction = #{trainDirection,jdbcType=TINYINT},
      train_state = #{trainState,jdbcType=TINYINT},
      train_date = #{trainDate,jdbcType=TIMESTAMP},
      insert_time = #{insertTime,jdbcType=TIMESTAMP}
    where train_id = #{trainId,jdbcType=BIGINT}
  </update>


  <select id="findTrainInfoByLastTrainId" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    FROM train_info order by train_id desc LIMIT 1
  </select>

  <select id="findTrainInfoByDatetime" resultMap="BaseResultMap" parameterType="map">
    select
    <include refid="Base_Column_List" />
    from train_info where train_date between #{preDatetime} and #{afterDatetime}
  </select>
  
  <select id="findTrainInfoByTrainId" resultMap="BaseResultMap" parameterType="Long">
    select
    <include refid="Base_Column_List" />
    from train_info where train_id=#{trainId}
  </select>
</mapper>