<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.njust.mapper.TrainSpecialdataMapper">
  <resultMap id="BaseResultMap" type="com.mmall.QixiPojo.TrainSpecialdata">
    <constructor>
      <idArg column="train_id" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="motor_num" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="tlgap_min" javaType="java.lang.Double" jdbcType="DOUBLE" />
      <arg column="trgap_min" javaType="java.lang.Double" jdbcType="DOUBLE" />
      <arg column="slgap_min" javaType="java.lang.Double" jdbcType="DOUBLE" />
      <arg column="srgap_min" javaType="java.lang.Double" jdbcType="DOUBLE" />
      <arg column="train_date" javaType="java.util.Date" jdbcType="TIMESTAMP" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    train_id, motor_num, tlgap_min, trgap_min, slgap_min, srgap_min, train_date
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from train_specialdata
    where train_id = #{trainId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from train_specialdata
    where train_id = #{trainId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.mmall.QixiPojo.TrainSpecialdata">
    insert into train_specialdata (train_id, motor_num, tlgap_min, 
      trgap_min, slgap_min, srgap_min, 
      train_date)
    values (#{trainId,jdbcType=BIGINT}, #{motorNum,jdbcType=INTEGER}, #{tlgapMin,jdbcType=DOUBLE}, 
      #{trgapMin,jdbcType=DOUBLE}, #{slgapMin,jdbcType=DOUBLE}, #{srgapMin,jdbcType=DOUBLE}, 
      #{trainDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.mmall.QixiPojo.TrainSpecialdata">
    insert into train_specialdata
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="trainId != null">
        train_id,
      </if>
      <if test="motorNum != null">
        motor_num,
      </if>
      <if test="tlgapMin != null">
        tlgap_min,
      </if>
      <if test="trgapMin != null">
        trgap_min,
      </if>
      <if test="slgapMin != null">
        slgap_min,
      </if>
      <if test="srgapMin != null">
        srgap_min,
      </if>
      <if test="trainDate != null">
        train_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="trainId != null">
        #{trainId,jdbcType=BIGINT},
      </if>
      <if test="motorNum != null">
        #{motorNum,jdbcType=INTEGER},
      </if>
      <if test="tlgapMin != null">
        #{tlgapMin,jdbcType=DOUBLE},
      </if>
      <if test="trgapMin != null">
        #{trgapMin,jdbcType=DOUBLE},
      </if>
      <if test="slgapMin != null">
        #{slgapMin,jdbcType=DOUBLE},
      </if>
      <if test="srgapMin != null">
        #{srgapMin,jdbcType=DOUBLE},
      </if>
      <if test="trainDate != null">
        #{trainDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mmall.QixiPojo.TrainSpecialdata">
    update train_specialdata
    <set>
      <if test="motorNum != null">
        motor_num = #{motorNum,jdbcType=INTEGER},
      </if>
      <if test="tlgapMin != null">
        tlgap_min = #{tlgapMin,jdbcType=DOUBLE},
      </if>
      <if test="trgapMin != null">
        trgap_min = #{trgapMin,jdbcType=DOUBLE},
      </if>
      <if test="slgapMin != null">
        slgap_min = #{slgapMin,jdbcType=DOUBLE},
      </if>
      <if test="srgapMin != null">
        srgap_min = #{srgapMin,jdbcType=DOUBLE},
      </if>
      <if test="trainDate != null">
        train_date = #{trainDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where train_id = #{trainId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mmall.QixiPojo.TrainSpecialdata">
    update train_specialdata
    set motor_num = #{motorNum,jdbcType=INTEGER},
      tlgap_min = #{tlgapMin,jdbcType=DOUBLE},
      trgap_min = #{trgapMin,jdbcType=DOUBLE},
      slgap_min = #{slgapMin,jdbcType=DOUBLE},
      srgap_min = #{srgapMin,jdbcType=DOUBLE},
      train_date = #{trainDate,jdbcType=TIMESTAMP}
    where train_id = #{trainId,jdbcType=BIGINT}
  </update>
  <resultMap id="BaseResultMap" type="com.mmall.QixiPojo.TrainSpecialdata">
    <constructor>
      <idArg column="train_id" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="motor_num" javaType="java.lang.Byte" jdbcType="TINYINT" />
      <arg column="tlgap_min" javaType="java.lang.Double" jdbcType="DOUBLE" />
      <arg column="trgap_min" javaType="java.lang.Double" jdbcType="DOUBLE" />
      <arg column="slgap_min" javaType="java.lang.Double" jdbcType="DOUBLE" />
      <arg column="srgap_min" javaType="java.lang.Double" jdbcType="DOUBLE" />
      <arg column="train_date" javaType="java.util.Date" jdbcType="TIMESTAMP" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    train_id, motor_num, tlgap_min, trgap_min, slgap_min, srgap_min, train_date
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from train_specialdata
    where train_id = #{trainId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from train_specialdata
    where train_id = #{trainId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.mmall.QixiPojo.TrainSpecialdata">
    insert into train_specialdata (train_id, motor_num, tlgap_min, 
      trgap_min, slgap_min, srgap_min, 
      train_date)
    values (#{trainId,jdbcType=BIGINT}, #{motorNum,jdbcType=TINYINT}, #{tlgapMin,jdbcType=DOUBLE}, 
      #{trgapMin,jdbcType=DOUBLE}, #{slgapMin,jdbcType=DOUBLE}, #{srgapMin,jdbcType=DOUBLE}, 
      #{trainDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.mmall.QixiPojo.TrainSpecialdata">
    insert into train_specialdata
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="trainId != null">
        train_id,
      </if>
      <if test="motorNum != null">
        motor_num,
      </if>
      <if test="tlgapMin != null">
        tlgap_min,
      </if>
      <if test="trgapMin != null">
        trgap_min,
      </if>
      <if test="slgapMin != null">
        slgap_min,
      </if>
      <if test="srgapMin != null">
        srgap_min,
      </if>
      <if test="trainDate != null">
        train_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="trainId != null">
        #{trainId,jdbcType=BIGINT},
      </if>
      <if test="motorNum != null">
        #{motorNum,jdbcType=TINYINT},
      </if>
      <if test="tlgapMin != null">
        #{tlgapMin,jdbcType=DOUBLE},
      </if>
      <if test="trgapMin != null">
        #{trgapMin,jdbcType=DOUBLE},
      </if>
      <if test="slgapMin != null">
        #{slgapMin,jdbcType=DOUBLE},
      </if>
      <if test="srgapMin != null">
        #{srgapMin,jdbcType=DOUBLE},
      </if>
      <if test="trainDate != null">
        #{trainDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mmall.QixiPojo.TrainSpecialdata">
    update train_specialdata
    <set>
      <if test="motorNum != null">
        motor_num = #{motorNum,jdbcType=TINYINT},
      </if>
      <if test="tlgapMin != null">
        tlgap_min = #{tlgapMin,jdbcType=DOUBLE},
      </if>
      <if test="trgapMin != null">
        trgap_min = #{trgapMin,jdbcType=DOUBLE},
      </if>
      <if test="slgapMin != null">
        slgap_min = #{slgapMin,jdbcType=DOUBLE},
      </if>
      <if test="srgapMin != null">
        srgap_min = #{srgapMin,jdbcType=DOUBLE},
      </if>
      <if test="trainDate != null">
        train_date = #{trainDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where train_id = #{trainId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mmall.QixiPojo.TrainSpecialdata">
    update train_specialdata
    set motor_num = #{motorNum,jdbcType=TINYINT},
      tlgap_min = #{tlgapMin,jdbcType=DOUBLE},
      trgap_min = #{trgapMin,jdbcType=DOUBLE},
      slgap_min = #{slgapMin,jdbcType=DOUBLE},
      srgap_min = #{srgapMin,jdbcType=DOUBLE},
      train_date = #{trainDate,jdbcType=TIMESTAMP}
    where train_id = #{trainId,jdbcType=BIGINT}
  </update>
  <resultMap id="BaseResultMap" type="com.mmall.QixiPojo.TrainSpecialdata">
    <constructor>
      <idArg column="train_id" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="motor_num" javaType="java.lang.Byte" jdbcType="TINYINT" />
      <arg column="3lgap_min" javaType="java.lang.Double" jdbcType="DOUBLE" />
      <arg column="3rgap_min" javaType="java.lang.Double" jdbcType="DOUBLE" />
      <arg column="7lgap_min" javaType="java.lang.Double" jdbcType="DOUBLE" />
      <arg column="7rgap_min" javaType="java.lang.Double" jdbcType="DOUBLE" />
      <arg column="train_date" javaType="java.util.Date" jdbcType="TIMESTAMP" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    train_id, motor_num, 3lgap_min, 3rgap_min, 7lgap_min, 7rgap_min, train_date
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from train_specialdata
    where train_id = #{trainId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from train_specialdata
    where train_id = #{trainId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.mmall.QixiPojo.TrainSpecialdata">
    insert into train_specialdata (train_id, motor_num, 3lgap_min, 
      3rgap_min, 7lgap_min, 7rgap_min, 
      train_date)
    values (#{trainId,jdbcType=BIGINT}, #{motorNum,jdbcType=TINYINT}, #{3lgapMin,jdbcType=DOUBLE}, 
      #{3rgapMin,jdbcType=DOUBLE}, #{7lgapMin,jdbcType=DOUBLE}, #{7rgapMin,jdbcType=DOUBLE}, 
      #{trainDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.mmall.QixiPojo.TrainSpecialdata">
    insert into train_specialdata
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="trainId != null">
        train_id,
      </if>
      <if test="motorNum != null">
        motor_num,
      </if>
      <if test="3lgapMin != null">
        3lgap_min,
      </if>
      <if test="3rgapMin != null">
        3rgap_min,
      </if>
      <if test="7lgapMin != null">
        7lgap_min,
      </if>
      <if test="7rgapMin != null">
        7rgap_min,
      </if>
      <if test="trainDate != null">
        train_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="trainId != null">
        #{trainId,jdbcType=BIGINT},
      </if>
      <if test="motorNum != null">
        #{motorNum,jdbcType=TINYINT},
      </if>
      <if test="3lgapMin != null">
        #{3lgapMin,jdbcType=DOUBLE},
      </if>
      <if test="3rgapMin != null">
        #{3rgapMin,jdbcType=DOUBLE},
      </if>
      <if test="7lgapMin != null">
        #{7lgapMin,jdbcType=DOUBLE},
      </if>
      <if test="7rgapMin != null">
        #{7rgapMin,jdbcType=DOUBLE},
      </if>
      <if test="trainDate != null">
        #{trainDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mmall.QixiPojo.TrainSpecialdata">
    update train_specialdata
    <set>
      <if test="motorNum != null">
        motor_num = #{motorNum,jdbcType=TINYINT},
      </if>
      <if test="3lgapMin != null">
        3lgap_min = #{3lgapMin,jdbcType=DOUBLE},
      </if>
      <if test="3rgapMin != null">
        3rgap_min = #{3rgapMin,jdbcType=DOUBLE},
      </if>
      <if test="7lgapMin != null">
        7lgap_min = #{7lgapMin,jdbcType=DOUBLE},
      </if>
      <if test="7rgapMin != null">
        7rgap_min = #{7rgapMin,jdbcType=DOUBLE},
      </if>
      <if test="trainDate != null">
        train_date = #{trainDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where train_id = #{trainId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mmall.QixiPojo.TrainSpecialdata">
    update train_specialdata
    set motor_num = #{motorNum,jdbcType=TINYINT},
      3lgap_min = #{3lgapMin,jdbcType=DOUBLE},
      3rgap_min = #{3rgapMin,jdbcType=DOUBLE},
      7lgap_min = #{7lgapMin,jdbcType=DOUBLE},
      7rgap_min = #{7rgapMin,jdbcType=DOUBLE},
      train_date = #{trainDate,jdbcType=TIMESTAMP}
    where train_id = #{trainId,jdbcType=BIGINT}
  </update>
</mapper>