<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.njust.mapper.GearInfoMapper" >
  <resultMap id="BaseResultMap" type="com.njust.dataobject.GearInfo" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="gear_num" property="gearNum" jdbcType="INTEGER" />
    <result column="lslot_value" property="lslotValue" jdbcType="DOUBLE" />
    <result column="rslot_value" property="rslotValue" jdbcType="DOUBLE" />
    <result column="lgap_value" property="lgapValue" jdbcType="DOUBLE" />
    <result column="rgap_value" property="rgapValue" jdbcType="DOUBLE" />
    <result column="lslot_depth" property="lslotDepth" jdbcType="DOUBLE" />
    <result column="rslot_depth" property="rslotDepth" jdbcType="DOUBLE" />
    <result column="motor_id" property="motorId" jdbcType="BIGINT" />
    <result column="gear_date" property="gearDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, gear_num, lslot_value, rslot_value, lgap_value, rgap_value, lslot_depth, rslot_depth, 
    motor_id, gear_date
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.njust.dataobject.GearInfoExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from gear_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from gear_info
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from gear_info
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.njust.dataobject.GearInfoExample" >
    delete from gear_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.njust.dataobject.GearInfo" >
    insert into gear_info (id, gear_num, lslot_value, 
      rslot_value, lgap_value, rgap_value, 
      lslot_depth, rslot_depth, motor_id, 
      gear_date)
    values (#{id,jdbcType=BIGINT}, #{gearNum,jdbcType=INTEGER}, #{lslotValue,jdbcType=DOUBLE}, 
      #{rslotValue,jdbcType=DOUBLE}, #{lgapValue,jdbcType=DOUBLE}, #{rgapValue,jdbcType=DOUBLE}, 
      #{lslotDepth,jdbcType=DOUBLE}, #{rslotDepth,jdbcType=DOUBLE}, #{motorId,jdbcType=BIGINT}, 
      #{gearDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.njust.dataobject.GearInfo" >
    insert into gear_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="gearNum != null" >
        gear_num,
      </if>
      <if test="lslotValue != null" >
        lslot_value,
      </if>
      <if test="rslotValue != null" >
        rslot_value,
      </if>
      <if test="lgapValue != null" >
        lgap_value,
      </if>
      <if test="rgapValue != null" >
        rgap_value,
      </if>
      <if test="lslotDepth != null" >
        lslot_depth,
      </if>
      <if test="rslotDepth != null" >
        rslot_depth,
      </if>
      <if test="motorId != null" >
        motor_id,
      </if>
      <if test="gearDate != null" >
        gear_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="gearNum != null" >
        #{gearNum,jdbcType=INTEGER},
      </if>
      <if test="lslotValue != null" >
        #{lslotValue,jdbcType=DOUBLE},
      </if>
      <if test="rslotValue != null" >
        #{rslotValue,jdbcType=DOUBLE},
      </if>
      <if test="lgapValue != null" >
        #{lgapValue,jdbcType=DOUBLE},
      </if>
      <if test="rgapValue != null" >
        #{rgapValue,jdbcType=DOUBLE},
      </if>
      <if test="lslotDepth != null" >
        #{lslotDepth,jdbcType=DOUBLE},
      </if>
      <if test="rslotDepth != null" >
        #{rslotDepth,jdbcType=DOUBLE},
      </if>
      <if test="motorId != null" >
        #{motorId,jdbcType=BIGINT},
      </if>
      <if test="gearDate != null" >
        #{gearDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.njust.dataobject.GearInfoExample" resultType="java.lang.Integer" >
    select count(*) from gear_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update gear_info
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.gearNum != null" >
        gear_num = #{record.gearNum,jdbcType=INTEGER},
      </if>
      <if test="record.lslotValue != null" >
        lslot_value = #{record.lslotValue,jdbcType=DOUBLE},
      </if>
      <if test="record.rslotValue != null" >
        rslot_value = #{record.rslotValue,jdbcType=DOUBLE},
      </if>
      <if test="record.lgapValue != null" >
        lgap_value = #{record.lgapValue,jdbcType=DOUBLE},
      </if>
      <if test="record.rgapValue != null" >
        rgap_value = #{record.rgapValue,jdbcType=DOUBLE},
      </if>
      <if test="record.lslotDepth != null" >
        lslot_depth = #{record.lslotDepth,jdbcType=DOUBLE},
      </if>
      <if test="record.rslotDepth != null" >
        rslot_depth = #{record.rslotDepth,jdbcType=DOUBLE},
      </if>
      <if test="record.motorId != null" >
        motor_id = #{record.motorId,jdbcType=BIGINT},
      </if>
      <if test="record.gearDate != null" >
        gear_date = #{record.gearDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update gear_info
    set id = #{record.id,jdbcType=BIGINT},
      gear_num = #{record.gearNum,jdbcType=INTEGER},
      lslot_value = #{record.lslotValue,jdbcType=DOUBLE},
      rslot_value = #{record.rslotValue,jdbcType=DOUBLE},
      lgap_value = #{record.lgapValue,jdbcType=DOUBLE},
      rgap_value = #{record.rgapValue,jdbcType=DOUBLE},
      lslot_depth = #{record.lslotDepth,jdbcType=DOUBLE},
      rslot_depth = #{record.rslotDepth,jdbcType=DOUBLE},
      motor_id = #{record.motorId,jdbcType=BIGINT},
      gear_date = #{record.gearDate,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.njust.dataobject.GearInfo" >
    update gear_info
    <set >
      <if test="gearNum != null" >
        gear_num = #{gearNum,jdbcType=INTEGER},
      </if>
      <if test="lslotValue != null" >
        lslot_value = #{lslotValue,jdbcType=DOUBLE},
      </if>
      <if test="rslotValue != null" >
        rslot_value = #{rslotValue,jdbcType=DOUBLE},
      </if>
      <if test="lgapValue != null" >
        lgap_value = #{lgapValue,jdbcType=DOUBLE},
      </if>
      <if test="rgapValue != null" >
        rgap_value = #{rgapValue,jdbcType=DOUBLE},
      </if>
      <if test="lslotDepth != null" >
        lslot_depth = #{lslotDepth,jdbcType=DOUBLE},
      </if>
      <if test="rslotDepth != null" >
        rslot_depth = #{rslotDepth,jdbcType=DOUBLE},
      </if>
      <if test="motorId != null" >
        motor_id = #{motorId,jdbcType=BIGINT},
      </if>
      <if test="gearDate != null" >
        gear_date = #{gearDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.njust.dataobject.GearInfo" >
    update gear_info
    set gear_num = #{gearNum,jdbcType=INTEGER},
      lslot_value = #{lslotValue,jdbcType=DOUBLE},
      rslot_value = #{rslotValue,jdbcType=DOUBLE},
      lgap_value = #{lgapValue,jdbcType=DOUBLE},
      rgap_value = #{rgapValue,jdbcType=DOUBLE},
      lslot_depth = #{lslotDepth,jdbcType=DOUBLE},
      rslot_depth = #{rslotDepth,jdbcType=DOUBLE},
      motor_id = #{motorId,jdbcType=BIGINT},
      gear_date = #{gearDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <select id="findByMotorId" resultMap="BaseResultMap" parameterType="java.lang.Long">
    SELECT
    <include refid="Base_Column_List" />
    from gear_info
    WHERE motor_id=#{motorId}
  </select>

  <select id="findByMotorIdAndGearNum" resultMap="BaseResultMap" parameterType="map">
    SELECT
    <include refid="Base_Column_List" />
    from gear_info
    WHERE motor_id=#{motorId} and gear_num=#{gearNum}
  </select>

  <select id="findByMotorId" resultMap="BaseResultMap" parameterType="Long">
    SELECT
    <include refid="Base_Column_List" />
    from gear_info
    WHERE motor_id=#{motorId}
  </select>
</mapper>