<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.njust.mapper.SystemInfoMapper" >
  <resultMap id="BaseResultMap" type="com.njust.dataobject.SystemInfo" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="llaser_state" property="llaserState" jdbcType="INTEGER" />
    <result column="rlaser_state" property="rlaserState" jdbcType="INTEGER" />
    <result column="temp_state" property="tempState" jdbcType="INTEGER" />
    <result column="brush_state" property="brushState" jdbcType="INTEGER" />
    <result column="edevice_state" property="edeviceState" jdbcType="INTEGER" />
    <result column="plc_state" property="plcState" jdbcType="INTEGER" />
    <result column="dcc_state" property="dccState" jdbcType="INTEGER" />
    <result column="ud_flag" property="udFlag" jdbcType="INTEGER" />
    <result column="train_date" property="trainDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, llaser_state, rlaser_state, temp_state, brush_state, edevice_state, plc_state, 
    dcc_state, ud_flag, train_date
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.njust.dataobject.SystemInfoExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from system_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from system_info
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from system_info
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.njust.dataobject.SystemInfoExample" >
    delete from system_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.njust.dataobject.SystemInfo" >
    insert into system_info (id, llaser_state, rlaser_state, 
      temp_state, brush_state, edevice_state, 
      plc_state, dcc_state, ud_flag, 
      train_date)
    values (#{id,jdbcType=BIGINT}, #{llaserState,jdbcType=INTEGER}, #{rlaserState,jdbcType=INTEGER}, 
      #{tempState,jdbcType=INTEGER}, #{brushState,jdbcType=INTEGER}, #{edeviceState,jdbcType=INTEGER}, 
      #{plcState,jdbcType=INTEGER}, #{dccState,jdbcType=INTEGER}, #{udFlag,jdbcType=INTEGER}, 
      #{trainDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.njust.dataobject.SystemInfo" >
    insert into system_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="llaserState != null" >
        llaser_state,
      </if>
      <if test="rlaserState != null" >
        rlaser_state,
      </if>
      <if test="tempState != null" >
        temp_state,
      </if>
      <if test="brushState != null" >
        brush_state,
      </if>
      <if test="edeviceState != null" >
        edevice_state,
      </if>
      <if test="plcState != null" >
        plc_state,
      </if>
      <if test="dccState != null" >
        dcc_state,
      </if>
      <if test="udFlag != null" >
        ud_flag,
      </if>
      <if test="trainDate != null" >
        train_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="llaserState != null" >
        #{llaserState,jdbcType=INTEGER},
      </if>
      <if test="rlaserState != null" >
        #{rlaserState,jdbcType=INTEGER},
      </if>
      <if test="tempState != null" >
        #{tempState,jdbcType=INTEGER},
      </if>
      <if test="brushState != null" >
        #{brushState,jdbcType=INTEGER},
      </if>
      <if test="edeviceState != null" >
        #{edeviceState,jdbcType=INTEGER},
      </if>
      <if test="plcState != null" >
        #{plcState,jdbcType=INTEGER},
      </if>
      <if test="dccState != null" >
        #{dccState,jdbcType=INTEGER},
      </if>
      <if test="udFlag != null" >
        #{udFlag,jdbcType=INTEGER},
      </if>
      <if test="trainDate != null" >
        #{trainDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.njust.dataobject.SystemInfoExample" resultType="java.lang.Integer" >
    select count(*) from system_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update system_info
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.llaserState != null" >
        llaser_state = #{record.llaserState,jdbcType=INTEGER},
      </if>
      <if test="record.rlaserState != null" >
        rlaser_state = #{record.rlaserState,jdbcType=INTEGER},
      </if>
      <if test="record.tempState != null" >
        temp_state = #{record.tempState,jdbcType=INTEGER},
      </if>
      <if test="record.brushState != null" >
        brush_state = #{record.brushState,jdbcType=INTEGER},
      </if>
      <if test="record.edeviceState != null" >
        edevice_state = #{record.edeviceState,jdbcType=INTEGER},
      </if>
      <if test="record.plcState != null" >
        plc_state = #{record.plcState,jdbcType=INTEGER},
      </if>
      <if test="record.dccState != null" >
        dcc_state = #{record.dccState,jdbcType=INTEGER},
      </if>
      <if test="record.udFlag != null" >
        ud_flag = #{record.udFlag,jdbcType=INTEGER},
      </if>
      <if test="record.trainDate != null" >
        train_date = #{record.trainDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update system_info
    set id = #{record.id,jdbcType=BIGINT},
      llaser_state = #{record.llaserState,jdbcType=INTEGER},
      rlaser_state = #{record.rlaserState,jdbcType=INTEGER},
      temp_state = #{record.tempState,jdbcType=INTEGER},
      brush_state = #{record.brushState,jdbcType=INTEGER},
      edevice_state = #{record.edeviceState,jdbcType=INTEGER},
      plc_state = #{record.plcState,jdbcType=INTEGER},
      dcc_state = #{record.dccState,jdbcType=INTEGER},
      ud_flag = #{record.udFlag,jdbcType=INTEGER},
      train_date = #{record.trainDate,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.njust.dataobject.SystemInfo" >
    update system_info
    <set >
      <if test="llaserState != null" >
        llaser_state = #{llaserState,jdbcType=INTEGER},
      </if>
      <if test="rlaserState != null" >
        rlaser_state = #{rlaserState,jdbcType=INTEGER},
      </if>
      <if test="tempState != null" >
        temp_state = #{tempState,jdbcType=INTEGER},
      </if>
      <if test="brushState != null" >
        brush_state = #{brushState,jdbcType=INTEGER},
      </if>
      <if test="edeviceState != null" >
        edevice_state = #{edeviceState,jdbcType=INTEGER},
      </if>
      <if test="plcState != null" >
        plc_state = #{plcState,jdbcType=INTEGER},
      </if>
      <if test="dccState != null" >
        dcc_state = #{dccState,jdbcType=INTEGER},
      </if>
      <if test="udFlag != null" >
        ud_flag = #{udFlag,jdbcType=INTEGER},
      </if>
      <if test="trainDate != null" >
        train_date = #{trainDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.njust.dataobject.SystemInfo" >
    update system_info
    set llaser_state = #{llaserState,jdbcType=INTEGER},
      rlaser_state = #{rlaserState,jdbcType=INTEGER},
      temp_state = #{tempState,jdbcType=INTEGER},
      brush_state = #{brushState,jdbcType=INTEGER},
      edevice_state = #{edeviceState,jdbcType=INTEGER},
      plc_state = #{plcState,jdbcType=INTEGER},
      dcc_state = #{dccState,jdbcType=INTEGER},
      ud_flag = #{udFlag,jdbcType=INTEGER},
      train_date = #{trainDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>