<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.njust.mapper.TrainTempMapper" >
  <resultMap id="BaseResultMap" type="com.njust.dataobject.TrainTemp" >
    <constructor >
      <idArg column="id" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="train_onlyid" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="train_temp" jdbcType="DOUBLE" javaType="java.lang.Double" />
      <arg column="train_date" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="motor_num" jdbcType="INTEGER" javaType="java.lang.Integer" />
    </constructor>
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, train_onlyid, train_temp, train_date, motor_num
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.njust.dataobject.TrainTempExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from train_temp
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select
    <include refid="Base_Column_List" />
    from train_temp
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from train_temp
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.njust.dataobject.TrainTempExample" >
    delete from train_temp
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.njust.dataobject.TrainTemp" >
    insert into train_temp (id, train_onlyid, train_temp,
    train_date, motor_num)
    values (#{id,jdbcType=BIGINT}, #{trainOnlyid,jdbcType=BIGINT}, #{trainTemp,jdbcType=DOUBLE},
    #{trainDate,jdbcType=TIMESTAMP}, #{motorNum,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.njust.dataobject.TrainTemp" >
    insert into train_temp
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="trainOnlyid != null" >
        train_onlyid,
      </if>
      <if test="trainTemp != null" >
        train_temp,
      </if>
      <if test="trainDate != null" >
        train_date,
      </if>
      <if test="motorNum != null" >
        motor_num,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="trainOnlyid != null" >
        #{trainOnlyid,jdbcType=BIGINT},
      </if>
      <if test="trainTemp != null" >
        #{trainTemp,jdbcType=DOUBLE},
      </if>
      <if test="trainDate != null" >
        #{trainDate,jdbcType=TIMESTAMP},
      </if>
      <if test="motorNum != null" >
        #{motorNum,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.njust.dataobject.TrainTempExample" resultType="java.lang.Integer" >
    select count(*) from train_temp
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update train_temp
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.trainOnlyid != null" >
        train_onlyid = #{record.trainOnlyid,jdbcType=BIGINT},
      </if>
      <if test="record.trainTemp != null" >
        train_temp = #{record.trainTemp,jdbcType=DOUBLE},
      </if>
      <if test="record.trainDate != null" >
        train_date = #{record.trainDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.motorNum != null" >
        motor_num = #{record.motorNum,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update train_temp
    set id = #{record.id,jdbcType=BIGINT},
    train_onlyid = #{record.trainOnlyid,jdbcType=BIGINT},
    train_temp = #{record.trainTemp,jdbcType=DOUBLE},
    train_date = #{record.trainDate,jdbcType=TIMESTAMP},
    motor_num = #{record.motorNum,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.njust.dataobject.TrainTemp" >
    update train_temp
    <set >
      <if test="trainOnlyid != null" >
        train_onlyid = #{trainOnlyid,jdbcType=BIGINT},
      </if>
      <if test="trainTemp != null" >
        train_temp = #{trainTemp,jdbcType=DOUBLE},
      </if>
      <if test="trainDate != null" >
        train_date = #{trainDate,jdbcType=TIMESTAMP},
      </if>
      <if test="motorNum != null" >
        motor_num = #{motorNum,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.njust.dataobject.TrainTemp" >
    update train_temp
    set train_onlyid = #{trainOnlyid,jdbcType=BIGINT},
      train_temp = #{trainTemp,jdbcType=DOUBLE},
      train_date = #{trainDate,jdbcType=TIMESTAMP},
      motor_num = #{motorNum,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>